body {
    font-family: 'poppins' , sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    color: #333;
}

header {
    background: #007acc;
    color: white;
    text-align: center;
    padding: 3rem 1rem;
}

.profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.profile-pic:hover {
    transform: scale(1.08);
}

h1 {
    margin-top: 1rem;
}

.btn {
    display: inline-block;
    background: white;
    color: #007acc;
    padding: 0.6rem 1.2rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s, color 0.3s, transform 0.3s;
}

.btn:hover {
    background: #005f99;
    color: white;
    transform: scale(1.05);
}

section {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
}

.project {
    background: white;
    padding: 1.2rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px  rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
    transform: translate(-6px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

footer {
    background: #eee;
    text-align: center;
    padding: 1.5rem;
}

footer a {
    color: #007acc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}